@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.bg-body {
  background-color: $bg-color  !important;
}

html,
body {
  position: relative;
  color: $light;
  background-color: $bg-color;
  font-family: 'OpenDyslexic', sans-serif;
  z-index: -2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.w-fit-content {
  width: fit-content;
}

.mt-6 {
  margin-top: 6rem !important;
}

code {
  @extend .rounded;
  @extend .bg-dark;
  @extend .px-1;
}

.so-tag {
  @extend .rounded-2;
  @extend .p-1;
  @extend .px-2;

  color: #9cc1db;
  background-color: #3d4951;
  font-size: 0.8rem;
  border: solid 2px transparent;

  &.clickable {

    &:hover,
    &:focus,
    &.selected {
      color: #cde1ee;
      background-color: #435460;
    }

    &.selected {
      border-color: #cde1ee;
    }
  }


}