@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  color: $light;
  background-color: $bg-color;
  font-family: 'OpenDyslexic', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.w-fit-content {
  width: fit-content;
}
